name: Wakatime Stats

on:
  schedule:
    # Runs at 12am UTC
    - cron: '0 0 * * *' # runs at every 12AM UTC
  
  # This command allows us to run the Action automatically from the Actions tab.
  workflow_dispatch:

jobs:
  update-readme:
    name: Update this repo's README
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SHOW_TITLE: true
          SHOW_TOTAL: true
